<center>
	<table>
		<tr>
			<td>First Name</td>
			<td><%= @lead.first_name %></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><%= @lead.last_name %></td>
		</tr>
		<tr>
			<td>Company Name</td>
			<td><%= @lead.company_name %></td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td><%= number_to_phone @lead.phone %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @lead.email %></td>
		</tr>
	</table>
</center>