<div id="dealInfoWrapper" style="padding:0px 20px 20px 20px;">
	<% if flash[:error] != nil %>
		<div id="error">
			<%= flash[:error] %>
		</div>
	<% end %>
	<div id="purshaseAccountSelectWrapper">
		<div id="purshaseAccountSelect">
			<h2>Admin Login</h2>
			<%= form_tag(:action => 'login') do%>
			<div style="purchaseFormWrapper">
				<div id="inputTitle">
					Username:
				</div>
				<div id="inputTitle">
					<%= text_field(:admin, :email) -%>
				</div>
				<div id="inputTitle">
					Password:
				</div>
				<div id="inputTitle">
					<%= password_field(:admin, :password) -%>
				</div>
				<%= submit_tag("Login", :class => 'loginBox')%>
			</div>
			<% end %><br>
		</div>
	</div>
</div>